/SimpleClassExamplе/.vs
/SimpleClassExamplе/SimpleClassExamplе/bin
/SimpleClassExamplе/SimpleClassExamplе/obj
/StaticDataAndMembers/.vs
/StaticDataAndMembers/StaticDataAndMembers/bin
/StaticDataAndMembers/StaticDataAndMembers/obj
/simpleUtilityClass/.vs
/simpleUtilityClass/simpleUtilityClass/bin
/simpleUtilityClass/simpleUtilityClass/obj
/EmployeerApp/.vs
/EmployeerApp/EmployeerApp/bin
/EmployeerApp/EmployeerApp/obj
/AutoProps/.vs
/AutoProps/AutoProps/bin
/AutoProps/AutoProps/obj
/Objectlnitializers/.vs
/Objectlnitializers/Objectlnitializers/bin
/Objectlnitializers/Objectlnitializers/obj